<header>
  <h3> Friends (<%= @users.count %>) </h3>
</header>
<div class="friends">
  <% @users.each do |user| %>
  <%= link_to (image_tag(user.avatar_url, class: "avatar")), user_path(user) %> <% user.soundcloud_username %>
  <% end %>
</div>
