<div class="row">
  <div class="col-md-4">
    <header>
      <h3> Friends (<%= current_user.friends.count %>) </h3>
    </header>
    <div class="friends">
      <% current_user.friends.each do |friend| %>
      <%= link_to (image_tag(friend.avatar_url, class: "avatar")), user_path(friend) %> <% friend.soundcloud_username %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">

    <section class="popular">
      <%= render @tracks %>
    </section>

    <div id="infinite-scrolling">
      <%= will_paginate @tracks %>
    </div>

  </div>
</div>
