<div class="likes">
    <p><span class="glyphicon glyphicon-heart"> Likes:
      <% track.users.each do |user| %>
        <% if current_user.friends.include?(user) %>
        <%= link_to user.soundcloud_username, user_path(user) %>,
        <% elsif user.id == current_user.id %>
        <%= link_to 'You', user_path(user) %>
        <% end %>
        <% end %>
      </span></p>
    <p>Posted <%= time_ago_in_words(track.created_at) %> ago</p>
</div>
<iframe id="soundcloud_widget"
src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%=track.soundcloud_track_id%>&color=8C304A&show_artwork=true&liking=true&sharing=true&auto_play=false"
frameborder="no"></iframe>
