<div class="container">
  <h1>SoundGem</h1>
  <h2>Sounds based off your network</h2>
  <%= link_to image_tag('soundcloud_button.png'), soundcloud_connect_path, class: "connect" %>
</div>
<p class="textbox">Take the guessing out of discovering music<br>Check out trending tracks from your SoundCloud stream.</p>

<script>
backdrop()
</script>
