@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font-family: "Lucida Grande";
  color: #8C304A;
  background-color: #F5F5F5;
}
// navbar
.navbar-default {
    background-color: #454343;
    height: 50px;
}
.navbar-default .navbar-brand {
    color: #8C304A;
}
.navbar-default .navbar-nav > li > a {
  color: #8C304A;
}
img.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

// friend icons
img.avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

img.userAvatar {
  height: 125px;
  width: 125px;
}

header {
  text-decoration: underline;
}

#soundcloud_widget {
}
