@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font-family: "Lucida Grande";
  color: #D10640;
  background-color: #F5F5F5;
}
img.avatar {
  border-radius: 50%;
}

.page-header {
  color: #D10640;
}

h3 {
  font-family: "Lucida Grande";
}
#soundcloud_widget {
}
