<!DOCTYPE html>
<html>
<head>
  <title>SoundGem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://w.soundcloud.com/player/api.js"></script>
</head>
<body>
  <%= yield %>
  <script>
  $(document).ready(function() {
    var widget = SC.Widget(document.getElementById('soundcloud_widget'));
    widget.bind(SC.Widget.Events.READY, function() {
      console.log('Ready...');
    });
    $('button').click(function() {
      widget.toggle();
    });
  });
  </script>
</body>
</html>
